@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("./../fonts/TiemposHeadline-RegularItalic.eot");
  src: url("./../fonts/TiemposHeadline-RegularItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/TiemposHeadline-RegularItalic.woff2") format("woff2"), url("./../fonts/TiemposHeadline-RegularItalic.woff") format("woff"), url("./../fonts/TiemposHeadline-RegularItalic.ttf") format("truetype"), url("./../fonts/TiemposHeadline-RegularItalic.svg#TiemposHeadline-RegularItalic") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Tiempos Headline';
  src: url("./../fonts/TiemposHeadline-Semibold.eot");
  src: url("./../fonts/TiemposHeadline-Semibold.eot?#iefix") format("embedded-opentype"), url("./../fonts/TiemposHeadline-Semibold.woff2") format("woff2"), url("./../fonts/TiemposHeadline-Semibold.woff") format("woff"), url("./../fonts/TiemposHeadline-Semibold.ttf") format("truetype"), url("./../fonts/TiemposHeadline-Semibold.svg#TiemposHeadline-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

body {
  background-color: white;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  position: relative;
  color: #454444; }

a {
  text-decoration: none; }

.pd-lr {
  padding-left: 30px;
  padding-right: 30px; }

@media (min-width: 768px) {
  .pd-lr {
    padding-left: 60px;
    padding-right: 60px; } }

@media (min-width: 900px) {
  .pd-lr {
    padding-left: 80px;
    padding-right: 80px; } }

@media (min-width: 1200px) {
  .pd-lr {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding-left: 0px;
    padding-right: 0px; } }

@media (min-width: 1400px) {
  .pd-lr {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px; } }

@media (min-width: 1600px) {
  .pd-lr {
    margin-left: auto;
    margin-right: auto;
    max-width: 1120px; } }

.section-title {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.22em;
  font-weight: 600;
  text-transform: uppercase; }

.grid-articles {
  padding-top: 60px;
  padding-bottom: 26px; }
  .grid-articles.grid-on-category {
    padding-top: 130px !important;
    padding-bottom: 80px; }
  .grid-articles:nth-child(n+6) {
    padding-top: 6px; }
  .grid-articles .grid-articles-wrapper .section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; }
    .grid-articles .grid-articles-wrapper .section-header h6.section-title {
      width: 100%; }
      .grid-articles .grid-articles-wrapper .section-header h6.section-title.center {
        text-align: center; }
    .grid-articles .grid-articles-wrapper .section-header a {
      font-family: 'Tiempos Headline';
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: #454444;
      font-weight: normal;
      font-style: italic;
      transition: all ease 0.4s;
      width: 100%; }
      .grid-articles .grid-articles-wrapper .section-header a:hover, .grid-articles .grid-articles-wrapper .section-header a:focus {
        color: #BAA15F; }
  .grid-articles .grid-articles-wrapper .more-padding {
    padding: 40px 0 50px; }
  .grid-articles .grid-articles-wrapper .articles-grid {
    margin-bottom: 42px; }
    .grid-articles .grid-articles-wrapper .articles-grid .item {
      margin-bottom: 42px; }
      .grid-articles .grid-articles-wrapper .articles-grid .item:last-child {
        margin-bottom: 0; }
      .grid-articles .grid-articles-wrapper .articles-grid .item .img {
        width: 100%;
        height: 220px;
        background-color: #454444;
        background-position: center;
        background-size: cover;
        margin-bottom: 24px; }
      .grid-articles .grid-articles-wrapper .articles-grid .item .data {
        text-align: center; }
        .grid-articles .grid-articles-wrapper .articles-grid .item .data h6.date-tags, .grid-articles .grid-articles-wrapper .articles-grid .item .data h6.author {
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          text-transform: uppercase;
          letter-spacing: 0.08em;
          margin-bottom: 15px; }
        .grid-articles .grid-articles-wrapper .articles-grid .item .data a {
          color: #454444;
          transition: all ease 0.4s; }
          .grid-articles .grid-articles-wrapper .articles-grid .item .data a:hover, .grid-articles .grid-articles-wrapper .articles-grid .item .data a:focus {
            color: #BAA15F; }
        .grid-articles .grid-articles-wrapper .articles-grid .item .data h3.article-title {
          font-family: 'Tiempos Headline';
          font-size: 22px;
          line-height: 135%;
          margin-bottom: 15px; }

@media (min-width: 768px) {
  .grid-articles.grid-on-category {
    padding-top: 160px !important;
    padding-bottom: 8px; }
  .grid-articles .grid-articles-wrapper .articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 48%);
    grid-column-gap: 4%;
    margin-bottom: 58px; }
    .grid-articles .grid-articles-wrapper .articles-grid .item .img {
      height: 240px; } }

@media (min-width: 1200px) {
  .grid-articles {
    padding-top: 70px;
    padding-bottom: 32px; }
    .grid-articles.grid-on-category {
      padding-top: 180px !important;
      padding-bottom: 0px; }
      .grid-articles.grid-on-category .grid-articles-wrapper .articles-grid .item {
        margin-bottom: 58px; }
    .grid-articles:nth-child(2n) {
      padding-top: 0; }
    .grid-articles .grid-articles-wrapper .articles-grid {
      grid-template-columns: repeat(auto-fill, 30.5%);
      grid-column-gap: 3%;
      justify-content: space-between;
      box-sizing: border-box;
      margin-bottom: 32px; }
      .grid-articles .grid-articles-wrapper .articles-grid .item {
        margin-bottom: 6px; }
        .grid-articles .grid-articles-wrapper .articles-grid .item .img {
          height: 220px; } }

@media (min-width: 1400px) {
  .grid-articles {
    padding-bottom: 40px; } }

@media (min-width: 1600px) {
  .grid-articles .grid-articles-wrapper .articles-grid .item .img {
    height: 230px; } }

.background-blue-cream {
  background: #F9F9F9; }

.overflow-hidden {
  overflow: hidden; }

header.site-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9999; }
  header.site-header .header-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px; }
    header.site-header .header-wrapper .brand {
      z-index: 9999; }
      header.site-header .header-wrapper .brand a svg.logo path {
        transition: all ease 0.4s;
        fill: #454444; }
      header.site-header .header-wrapper .brand a:hover svg.logo path, header.site-header .header-wrapper .brand a:focus svg.logo path {
        fill: #BAA15F; }
    header.site-header .header-wrapper .hamburger {
      outline: none;
      padding: 0;
      z-index: 9999; }
      header.site-header .header-wrapper .hamburger .hamburger-box {
        height: 15px; }
        header.site-header .header-wrapper .hamburger .hamburger-box .hamburger-inner {
          background-color: #454444; }
          header.site-header .header-wrapper .hamburger .hamburger-box .hamburger-inner:before {
            background-color: #454444; }
          header.site-header .header-wrapper .hamburger .hamburger-box .hamburger-inner:after {
            display: none;
            background-color: transparent; }
      header.site-header .header-wrapper .hamburger.is-active .hamburger-box .hamburger-inner {
        background-color: white !important; }
        header.site-header .header-wrapper .hamburger.is-active .hamburger-box .hamburger-inner:before {
          background-color: white !important; }
    header.site-header .header-wrapper .menu {
      position: relative;
      width: 100%; }
      header.site-header .header-wrapper .menu .the-menu {
        position: fixed;
        top: 0;
        left: 100vw;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        margin: auto;
        padding-top: 300px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        background-color: #454444;
        transition: all ease-in-out 0.5s; }
        header.site-header .header-wrapper .menu .the-menu a {
          color: white;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.185em;
          text-transform: uppercase;
          display: block;
          margin-left: 0;
          margin-bottom: 30px;
          opacity: 0;
          transition: all ease-in-out 0.5s; }
          header.site-header .header-wrapper .menu .the-menu a:nth-child(1) {
            transition-delay: 0.1s; }
          header.site-header .header-wrapper .menu .the-menu a:nth-child(2) {
            transition-delay: 0.3s; }
          header.site-header .header-wrapper .menu .the-menu a:nth-child(3) {
            transition-delay: 0.6s; }
          header.site-header .header-wrapper .menu .the-menu a:nth-child(4) {
            transition-delay: 0.9s; }
          header.site-header .header-wrapper .menu .the-menu a:nth-child(5) {
            transition-delay: 1.2s; }
          header.site-header .header-wrapper .menu .the-menu a:nth-child(6) {
            transition-delay: 1.5s; }
          header.site-header .header-wrapper .menu .the-menu a:first-child {
            margin-left: 0; }
          header.site-header .header-wrapper .menu .the-menu a:hover, header.site-header .header-wrapper .menu .the-menu a:focus {
            color: #BAA15F; }
        header.site-header .header-wrapper .menu .the-menu .show-link {
          transition: all ease-in-out 1s;
          transition-delay: 0.5s;
          opacity: 1; }

@media (min-width: 768px) {
  header.site-header .header-wrapper {
    padding-top: 66px; }
    header.site-header .header-wrapper .menu .the-menu {
      padding-top: 380px;
      padding-left: 60px;
      padding-right: 60px; } }

@media (min-width: 900px) {
  header.site-header .header-wrapper {
    padding-top: 65px;
    padding-bottom: 65px; }
    header.site-header .header-wrapper .menu .the-menu {
      padding-left: 80px;
      padding-right: 80px; } }

@media (min-width: 1200px) {
  header.site-header .header-wrapper .hamburger {
    display: none; }
  header.site-header .header-wrapper .menu {
    width: auto; }
    header.site-header .header-wrapper .menu .the-menu {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      width: auto;
      height: auto;
      padding: 0;
      background-color: transparent;
      transition-delay: 0;
      transition: all ease-in-out 0.3s; }
      header.site-header .header-wrapper .menu .the-menu a {
        color: #454444;
        margin-bottom: 0;
        margin-left: 60px;
        display: inline;
        opacity: 1;
        transition-delay: 0 !important;
        transition: all ease-in-out 0.3s !important; }
        header.site-header .header-wrapper .menu .the-menu a:first-child {
          margin-left: 0; }
        header.site-header .header-wrapper .menu .the-menu a:hover, header.site-header .header-wrapper .menu .the-menu a:focus {
          color: #BAA15F; } }

@media (min-width: 1400px) {
  header.site-header .header-wrapper .hamburger {
    display: none; } }

.toggle-menu {
  left: 0 !important; }

.logo-inv path {
  fill: white !important; }

.last-article {
  background-color: #F9F9F9;
  padding-top: 120px;
  padding-bottom: 20px; }
  .last-article .last-article-wrapper .img {
    width: 100%;
    height: 230px;
    background-color: #454444;
    position: relative; }
    .last-article .last-article-wrapper .img .img-inner {
      position: absolute;
      width: 100%;
      height: 100%;
      margin: auto;
      background-position: center;
      background-size: cover; }
  .last-article .last-article-wrapper .data {
    padding: 35px 0;
    color: #454444; }
    .last-article .last-article-wrapper .data h6.section-title {
      font-size: 14px;
      line-height: 15px;
      letter-spacing: 0.24em;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 26px; }
    .last-article .last-article-wrapper .data a {
      color: #454444;
      transition: all ease 0.4s; }
      .last-article .last-article-wrapper .data a h1.featured-title {
        width: 98%;
        font-family: 'Tiempos Headline';
        font-weight: 600;
        font-size: 34px;
        line-height: 125%;
        margin-top: 0;
        margin-bottom: 20px; }
      .last-article .last-article-wrapper .data a:hover, .last-article .last-article-wrapper .data a:focus {
        color: #BAA15F; }
    .last-article .last-article-wrapper .data h6.featured-details {
      font-size: 12px;
      letter-spacing: 0.15em;
      line-height: 135%;
      text-transform: uppercase; }
      .last-article .last-article-wrapper .data h6.featured-details span.hashtags {
        display: block; }
      .last-article .last-article-wrapper .data h6.featured-details span.date-author {
        display: block; }

@media (min-width: 768px) {
  .last-article {
    padding-top: 144px;
    padding-bottom: 44px; }
    .last-article .last-article-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      width: 100%; }
      .last-article .last-article-wrapper .img {
        width: 44%;
        height: 100%;
        min-height: 310px; }
      .last-article .last-article-wrapper .data {
        padding: 0 0 0 40px;
        width: 55%;
        box-sizing: border-box; } }

@media (min-width: 900px) {
  .last-article {
    padding-top: 150px;
    padding-bottom: 55px; }
    .last-article .last-article-wrapper .img {
      width: 45%; }
    .last-article .last-article-wrapper .data {
      width: 55%;
      padding: 0 0 0 70px; } }

@media (min-width: 1200px) {
  .last-article {
    padding-top: 156px; }
    .last-article .last-article-wrapper .img {
      width: 48%;
      min-height: 326px; }
    .last-article .last-article-wrapper .data {
      width: 52%;
      padding: 0 0 0 60px; }
      .last-article .last-article-wrapper .data h6.section-title {
        margin-bottom: 26px; }
      .last-article .last-article-wrapper .data a h1.featured-title {
        font-size: 38px;
        line-height: 123%;
        margin-bottom: 26px; } }

@media (min-width: 1400px) {
  .last-article {
    padding-top: 156px; }
    .last-article .last-article-wrapper .img {
      width: 48%;
      min-height: 334px; }
    .last-article .last-article-wrapper .data {
      width: 52%;
      padding: 0 0 0 70px; }
      .last-article .last-article-wrapper .data h6.section-title {
        margin-bottom: 26px; }
      .last-article .last-article-wrapper .data a h1.featured-title {
        font-size: 38px;
        line-height: 123%;
        margin-bottom: 26px; } }

@media (min-width: 1600px) {
  .last-article .last-article-wrapper .img {
    width: 47%;
    min-height: 360px; }
  .last-article .last-article-wrapper .data {
    width: 53%;
    padding: 0 0 0 70px; } }

.featured-article {
  width: 100%;
  padding-top: 130px;
  padding-bottom: 130px;
  text-align: center;
  background-color: #454444;
  background-position: center;
  background-size: cover; }
  .featured-article .wrapper-featured-article {
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px; }
    .featured-article .wrapper-featured-article h6.date-tags, .featured-article .wrapper-featured-article h6.author {
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      letter-spacing: 0.08em;
      margin-bottom: 22px; }
      .featured-article .wrapper-featured-article h6.date-tags:last-child, .featured-article .wrapper-featured-article h6.author:last-child {
        margin-bottom: 0; }
    .featured-article .wrapper-featured-article h3.article-title {
      font-family: 'Tiempos Headline';
      font-size: 38px;
      line-height: 125%;
      margin-bottom: 15px;
      transition: all ease 0.4s; }
  .featured-article:hover .wrapper-featured-article h3.article-title, .featured-article:focus .wrapper-featured-article h3.article-title {
    color: #BAA15F; }

@media (min-width: 768px) {
  .featured-article {
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box; } }

@media (min-width: 1200px) {
  .featured-article {
    padding-left: 0;
    padding-right: 0; }
    .featured-article .wrapper-featured-article {
      margin-left: auto;
      margin-rigth: auto;
      max-width: 700px; }
      .featured-article .wrapper-featured-article h6.date-tags, .featured-article .wrapper-featured-article h6.author {
        margin-bottom: 24px; }
      .featured-article .wrapper-featured-article h3.article-title {
        margin-bottom: 26px; } }

@media (min-width: 1400px) {
  .featured-article {
    padding-top: 170px;
    padding-bottom: 170px;
    margin-bottom: 10px; } }

@media (min-width: 1600px) {
  .featured-article {
    padding-top: 180px;
    padding-bottom: 180px; } }

.pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 100%;
  font-size: 15px; }
  .pagination .older {
    width: 30%; }
    .pagination .older .older-posts {
      text-transform: uppercase;
      color: #454444;
      transition: all ease 0.3s;
      font-weight: 600; }
      .pagination .older .older-posts:hover, .pagination .older .older-posts:focus {
        color: #BAA15F; }
  .pagination .page-number {
    width: 40%;
    text-align: center; }
  .pagination .newer {
    width: 30%;
    text-align: right; }
    .pagination .newer .newer-posts {
      text-align: right;
      text-transform: uppercase;
      color: #454444;
      transition: all ease 0.3s;
      font-weight: 600; }
      .pagination .newer .newer-posts:hover, .pagination .newer .newer-posts:focus {
        color: #BAA15F; }

@media (min-width: 768px) {
  .pagination {
    margin-top: -10px;
    padding-top: 0;
    padding-bottom: 48px; } }

@media (min-width: 900px) {
  .pagination {
    margin-top: -10px;
    padding-top: 0;
    padding-bottom: 62px; } }

.the-article .article-header {
  position: relative;
  padding-top: 150px;
  padding-left: 30px;
  padding-right: 30px; }
  .the-article .article-header h6.hashtags,
  .the-article .article-header h6.date-author {
    color: #454444;
    font-size: 13px;
    line-height: 135%;
    font-style: normal;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin-bottom: 24px; }
    .the-article .article-header h6.hashtags a,
    .the-article .article-header h6.date-author a {
      color: #454444;
      transition: all ease 0.3s; }
      .the-article .article-header h6.hashtags a:hover, .the-article .article-header h6.hashtags a:focus,
      .the-article .article-header h6.date-author a:hover,
      .the-article .article-header h6.date-author a:focus {
        color: #BAA15F; }
  .the-article .article-header h1.article-title {
    color: #454444;
    font-family: 'Tiempos Headline';
    font-weight: 600;
    font-size: 34px;
    line-height: 122%;
    margin-bottom: 23px; }
  .the-article .article-header h6.date-author span {
    display: block; }
    .the-article .article-header h6.date-author span:before {
      display: none;
      content: '—';
      margin-right: 0.8em; }
  .the-article .article-header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 110%;
    z-index: -10;
    background: #F9F9F9; }

.the-article .article-body {
  padding-top: 38px;
  padding-bottom: 28px;
  line-height: 180%;
  font-family: 'Merriweather', serif;
  color: #454444; }
  .the-article .article-body p {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px; }
  .the-article .article-body h3 {
    font-family: 'Tiempos Headline';
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;
    margin-top: 48px;
    margin-bottom: 20px; }
  .the-article .article-body a {
    color: #454444;
    font-weight: 600;
    transition: all ease 0.3s; }
    .the-article .article-body a:hover, .the-article .article-body a:focus {
      color: #BAA15F; }
  .the-article .article-body blockquote {
    font-size: 19px;
    font-weight: 600;
    font-style: italic;
    line-height: 170%;
    margin: 47px 0; }
    .the-article .article-body blockquote p {
      font-size: 19px;
      font-weight: 600;
      font-style: italic;
      line-height: 170%; }
    .the-article .article-body blockquote:after {
      margin-top: 14px;
      content: '';
      background-color: #454444;
      height: 3px;
      width: 38px;
      display: block; }
  .the-article .article-body ul, .the-article .article-body ol {
    margin-bottom: 30px; }
    .the-article .article-body ul li, .the-article .article-body ol li {
      display: list-item;
      margin-left: 1.2em;
      margin-bottom: 12px; }
      .the-article .article-body ul li:last-child, .the-article .article-body ol li:last-child {
        margin-bottom: 25px; }
  .the-article .article-body ul li {
    list-style-type: disc; }
  .the-article .article-body ol li {
    list-style-type: decimal; }

@media (min-width: 768px) {
  .the-article .article-header {
    padding-top: 160px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 52px; }
    .the-article .article-header h1.article-title {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto; }
    .the-article .article-header:before {
      height: 140%; }
  .the-article .img {
    margin-bottom: 18px; }
    .the-article .img .img-inner {
      width: 100%;
      height: 380px;
      background-color: #454444;
      background-position: center;
      background-size: cover; }
  .the-article .article-body {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 44px;
    width: 70%; }
    .the-article .article-body blockquote {
      margin: 54px auto;
      text-align: center; }
      .the-article .article-body blockquote:after {
        margin-left: auto;
        margin-right: auto; } }

@media (min-width: 900px) {
  .the-article .article-header {
    padding-top: 180px; }
    .the-article .article-header h1.article-title {
      font-size: 42px; }
  .the-article .img .img-inner {
    height: 440px; }
  .the-article .article-body {
    width: 65%; }
    .the-article .article-body p {
      font-size: 18px;
      line-height: 185%;
      font-weight: 300;
      margin-bottom: 30px; }
    .the-article .article-body h3 {
      font-size: 26px;
      margin-top: 50px;
      margin-bottom: 22px; }
    .the-article .article-body blockquote {
      font-size: 22px;
      margin: 64px auto; }
    .the-article .article-body ul li, .the-article .article-body ol li {
      font-size: 18px;
      line-height: 180%;
      font-weight: 300; } }

@media (min-width: 1200px) {
  .the-article .article-header {
    padding-top: 190px;
    margin-bottom: 56px; }
    .the-article .article-header h1.article-title {
      max-width: 600px; }
    .the-article .article-header:before {
      height: 160%; }
  .the-article .article-body {
    width: 700px;
    padding-bottom: 48px; }
    .the-article .article-body h3 {
      margin-top: 52px; } }

@media (min-width: 1400px) {
  .the-article .article-header {
    padding-top: 190px;
    margin-bottom: 54px; }
  .the-article .img .img-inner {
    height: 480px; }
  .the-article .article-body {
    width: 740px; } }

.article-comments {
  padding-top: 20px;
  padding-bottom: 34px; }

@media (min-width: 768px) {
  .article-comments {
    padding-top: 20px;
    padding-bottom: 52px; } }

@media (min-width: 900px) {
  .article-comments {
    padding-top: 20px;
    padding-bottom: 62px; } }

@media (min-width: 1200px) {
  .article-comments {
    padding-top: 20px;
    padding-bottom: 68px; } }

.grid-related {
  padding-top: 54px !important; }

@media (min-width: 768px) {
  .grid-related {
    padding-top: 68px !important; } }

@media (min-width: 1200px) {
  .grid-related {
    padding-top: 68px !important; } }

@media (min-width: 1400px) {
  .grid-related {
    padding-top: 74px !important; } }

footer.site-footer {
  background-color: #454444;
  color: white; }
  footer.site-footer .site-footer-wrapper {
    text-align: center;
    padding-top: 66px;
    padding-bottom: 66px; }
    footer.site-footer .site-footer-wrapper a {
      color: white;
      font-weight: 600;
      font-size: 15px;
      transition: all ease 0.3s;
      display: block;
      margin-bottom: 26px; }
      footer.site-footer .site-footer-wrapper a:hover, footer.site-footer .site-footer-wrapper a:focus {
        color: #BAA15F; }
    footer.site-footer .site-footer-wrapper p {
      text-transform: uppercase;
      font-size: 11px;
      line-height: 150%;
      letter-spacing: 0.185em; }

.page .page-header {
  background-color: #F9F9F9;
  padding-top: 170px;
  padding-bottom: 46px; }
  .page .page-header .page-header-inner h1 {
    width: 98%;
    font-family: 'Tiempos Headline';
    font-weight: 600;
    font-size: 34px;
    line-height: 125%;
    margin-top: 0; }

.page .page-body {
  padding-top: 38px;
  padding-bottom: 28px;
  line-height: 180%;
  font-family: 'Merriweather', serif;
  color: #454444; }
  .page .page-body .page-body-inner p {
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px; }
  .page .page-body .page-body-inner h3 {
    font-family: 'Tiempos Headline';
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;
    margin-top: 48px;
    margin-bottom: 20px; }
  .page .page-body .page-body-inner a {
    color: #454444;
    font-weight: 600;
    transition: all ease 0.3s; }
    .page .page-body .page-body-inner a:hover, .page .page-body .page-body-inner a:focus {
      color: #BAA15F; }
  .page .page-body .page-body-inner blockquote {
    font-size: 19px;
    font-weight: 600;
    font-style: italic;
    line-height: 170%;
    margin: 47px 0; }
    .page .page-body .page-body-inner blockquote p {
      font-size: 19px;
      font-weight: 600;
      font-style: italic;
      line-height: 170%; }
    .page .page-body .page-body-inner blockquote:after {
      margin-top: 14px;
      content: '';
      background-color: #454444;
      height: 3px;
      width: 38px;
      display: block; }
  .page .page-body .page-body-inner ul, .page .page-body .page-body-inner ol {
    margin-bottom: 30px; }
    .page .page-body .page-body-inner ul li, .page .page-body .page-body-inner ol li {
      display: list-item;
      margin-left: 1.2em;
      margin-bottom: 12px; }
      .page .page-body .page-body-inner ul li:last-child, .page .page-body .page-body-inner ol li:last-child {
        margin-bottom: 25px; }
  .page .page-body .page-body-inner ul li {
    list-style-type: disc; }
  .page .page-body .page-body-inner ol li {
    list-style-type: decimal; }

@media (min-width: 768px) {
  .page .page-header {
    padding-top: 200px;
    padding-bottom: 60px; }
  .page .page-body .page-body-inner {
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 24px; }
    .page .page-body .page-body-inner blockquote {
      margin: 54px auto;
      text-align: center; }
      .page .page-body .page-body-inner blockquote:after {
        margin-left: auto;
        margin-right: auto; } }

@media (min-width: 900px) {
  .page .page-header {
    padding-top: 240px;
    padding-bottom: 100px; }
    .page .page-header .page-header-inner h1 {
      text-align: center;
      font-size: 42px; }
  .page .page-body .page-body-inner {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 65%; }
    .page .page-body .page-body-inner p {
      font-size: 18px;
      line-height: 185%;
      font-weight: 300;
      margin-bottom: 30px; }
    .page .page-body .page-body-inner h3 {
      font-size: 26px;
      margin-top: 50px;
      margin-bottom: 22px; }
    .page .page-body .page-body-inner blockquote {
      font-size: 22px;
      margin: 64px auto; }
    .page .page-body .page-body-inner ul li, .page .page-body .page-body-inner ol li {
      font-size: 18px;
      line-height: 180%;
      font-weight: 300; } }

@media (min-width: 1200px) {
  .page .page-header {
    padding-top: 250px;
    padding-bottom: 110px; }
  .page .page-body .page-body-inner {
    width: 700px; }
    .page .page-body .page-body-inner h3 {
      margin-top: 52px; } }

@media (min-width: 1400px) {
  .page .page-body .page-body-inner {
    width: 740px; }
    .page .page-body .page-body-inner h3 {
      margin-top: 52px; } }
